body{
    width: 100vw ;
    height: 100vh ;
    margin: 0;
    background: black;
    color: white;
    display: grid;
    place-items: center;

}
.celda{
    width: 90px;
    height: 90px;
    font-size: 3rem;
    display: grid;
    place-items:center;
    border: 1px solid #cd22bf ;
    float: left;
}
.Contenedor {
    width: 276px;
    text-align: center;

}